body{

margin:0;
font-family:Segoe UI;

background:#f5f5f5;

}

/* TOPO */

.topBar{

background:#5e17eb;
color:white;

display:flex;
justify-content:space-between;
align-items:center;

padding:10px 20px;

}

.logoArea{

display:flex;
align-items:center;
gap:10px;

}

.logoArea img{

height:40px;

}

.menuArea{

display:flex;
align-items:center;
gap:10px;

}

.menuArea button{

background:white;
color:#5e17eb;

border:none;

padding:6px 10px;

border-radius:5px;

cursor:pointer;

}

.hidden{

display:none;

}

/* LAYOUT */

.pdvContainer{

display:flex;

height:calc(100vh - 60px);

}

/* PRODUTOS */

.produtos{

width:70%;

padding:20px;

display:grid;

grid-template-columns:repeat(auto-fill,140px);

gap:15px;

overflow:auto;

}

.produto{

background:white;

border-radius:10px;

padding:10px;

text-align:center;

cursor:pointer;

box-shadow:0 3px 10px rgba(0,0,0,0.1);

transition:0.2s;

}

.produto:hover{

transform:scale(1.05);

}

.produto img{

width:100%;
height:100px;

object-fit:cover;

border-radius:6px;

}

/* CAIXA */

.caixa{

width:30%;

background:white;

padding:20px;

display:flex;
flex-direction:column;

}

.carrinho{

flex:1;

overflow:auto;

margin-bottom:10px;

}

.item{

display:flex;
justify-content:space-between;
align-items:center;

padding:6px;

border-bottom:1px solid #eee;

}

.remover{

background:red;
color:white;

border:none;

padding:3px 6px;

border-radius:4px;

cursor:pointer;

}

/* TOTAL */

.totalBox{

border-top:2px solid #eee;

padding-top:10px;

text-align:center;

}

/* PAGAMENTOS */

.pagamentos{

margin-top:10px;

display:grid;

grid-template-columns:1fr 1fr;

gap:10px;

}

.pagamentos button{

background:#00c853;
color:white;

border:none;

padding:12px;

border-radius:6px;

cursor:pointer;

font-weight:bold;

}

/* AREA PRODUTOS */

.areaProdutos{

flex:1;

display:flex;
flex-direction:column;

}

/* CONTROLES DO CAIXA */

.caixaControles{

display:flex;

gap:10px;

margin-bottom:10px;

}

.caixaControles button{

background:#6b21a8;

color:white;

border:none;

padding:8px 12px;

border-radius:6px;

cursor:pointer;

}

.caixaControles button:hover{

background:#581c87;

}

/* PESQUISA */

.buscaProdutos{

margin-bottom:10px;

}

.buscaProdutos input{

width:100%;

padding:10px;

border-radius:8px;

border:1px solid #ccc;

}

.tituloPDV{
margin-left:10px;
font-weight:bold;
font-size:18px;
}

.acoesCaixa{

display:flex;
gap:10px;
margin-left:20px;

}

.acoesCaixa button{

background:#6b21a8;
color:white;

border:none;

padding:6px 10px;

border-radius:6px;

cursor:pointer;

font-size:13px;

}

.acoesCaixa button:hover{

background:#581c87;

}

/* busca */

.buscaProdutos{

margin-bottom:10px;

}

.buscaProdutos input{

width:100%;
padding:10px;

border-radius:8px;

border:1px solid #ccc;

}

.modalFundo{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
display:flex;
align-items:center;
justify-content:center;
z-index:9999;
}

.modalBox{
background:white;
padding:30px;
border-radius:10px;
width:300px;
text-align:center;
}

.modalBox input{
width:100%;
padding:10px;
margin-top:10px;
}

.modalBotoes{
margin-top:20px;
display:flex;
gap:10px;
justify-content:center;
}

.modalBotoes button{
padding:10px 15px;
cursor:pointer;
}

#pedidosEspera{

background:#f1eeee;
padding:10px;

}

.pedidoCard{

background:#313131;
padding:10px;
border-radius:8px;
margin-bottom:8px;

display:flex;
justify-content:space-between;
align-items:center;

}

.pedidoStatus{

font-weight:bold;

}

.statusAmarelo{

color:#e8ff00;

}

.statusVermelho{

color:#ff3b3b;

}